@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h4>ASP.NET Core CRUD operations simple app</h4>
    <p>
        It's simple app for managing product list with add, read, edit 
        and delete functionality. It's connected to local SQL database using
        Entity Framework Core and uses DataTables plugin for table display and
        SweetAlert & Toaster plugins for notifications.
    </p>
</div>
